<body>



<h1>Dashboard</h1>

<br>
<a href="/admin/dashboard/users-list?page=1">Users Data</a>


<br>
<a href="/admin/dashboard/hostels-list">Hostels Data</a>

<br>


<a href="/admin/viewComplaints"> View Complaints</a>


<br>
<a href="/admin/home">Go to Home</a>

<br>
<a href="/admin/dashboard/allocate">Allocate Students</a>


</body>
