<body>
<h1>Welcome <%= admin.name  %> </h1>

<a href="/admin/dashboard">Dashboard</a>

<table class="table table-hover table-bordered" style="width: 50%">


    <tr>
        <td>Name</td>
        <td> <%= admin.email %> </td>
    </tr>

    <tr>
        <td>Phone No.</td>
        <td> <%= admin.phone %> </td>
    </tr>
</table class="table table-hover table-bordered">


<br>
<a href="/admin/logout">Logout</a>

<br>
<a href="/admin/addHostel">Create Hostel</a>

<br>
<a href="/admin/addWarden">Create Warden</a>
</body>