<body>


<div class="container">
    <h1>Admin Login</h1>

<% 
    if(typeof message !== 'undefined'){

    %>

    <h3> <%= message %> </h3>

    <%
    }

%>
    <form action="" method="POST">

        <input class="form-control" type="email" name="email" id="" placeholder="Enter Email"> <br>
        <input class="form-control" type="password" name="password" id="" placeholder="Enter password"> <br>
        <input type="submit" class="btn btn btn-warning" class="btn btn btn-warning" value="Login"> <br>
    
        <br>
        <a>Student??</a>
        <a href="/home">Login here</a>
    
    </form>
</div>



<!-- <li class="nav-item">
    <a class="nav-link" href="/admin/allocate">
      <span data-feather="bar-chart-2"></span>
      Allocate Hostels
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/admin/vacateAll">
      <span data-feather="bar-chart-2"></span>
      Vacate Hostels
    </a>
  </li> -->
</body>