    <body>
        <%- include('navbar.ejs')  %>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h1>Add Mess data</h1>

        <form action="" method="post">
           
                <input type="text" class="form-control" placeholder="Monday" aria-label="Monday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="monday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="monday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="monday[dinner]"
                    aria-label="dinner">
                <br>

                <input type="text" class="form-control" placeholder="Tuesday" aria-label="tuesday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="tuesday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="tuesday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="tuesday[dinner]"
                    aria-label="dinner">
                <br>

                <input type="text" class="form-control" placeholder="Wednesday" aria-label="wednesday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="wednesday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="wednesday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="wednesday[dinner]"
                    aria-label="dinner">
                <br>

                <input type="text" class="form-control" placeholder="Thursday" aria-label="thursday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="thursday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="thursday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="thursday[dinner]"
                    aria-label="dinner">
                <br>

                <input type="text" class="form-control" placeholder="Friday" aria-label="friday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="friday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="friday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="friday[dinner]"
                    aria-label="dinner">
                <br>

                <input type="text" class="form-control" placeholder="Saturday" aria-label="saturday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="saturday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="saturday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="saturday[dinner]"
                    aria-label="dinner">
                <br>

                <input type="text" class="form-control" placeholder="Sunday" aria-label="sunday"
                    readonly>
                <input type="text" class="form-control" placeholder="Breakfast" name="sunday[breakfast]"
                    aria-label="breakfast">
                <input type="text" class="form-control" placeholder="Dinner" name="sunday[lunch]"
                    aria-label="lunch">
                    <input type="text" class="form-control" placeholder="Lunch" name="sunday[dinner]"
                    aria-label="dinner">
                <br>
    


                <input type="submit" class="btn btn btn-success" value="Add">

        </form>
        </main>
    </body>
