


<body>

  <%- include('navbar.ejs')  %>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

  <h1>Warden Dashboard</h1>

  <!-- <img src="/hostelImages/<%= hostelName %>.jpg" alt="Hostel Image" width="100px" height="100px"> -->

 </main>



</body>