<!-- EJS template code -->
<body>
  <%- include('navbar.ejs')  %>

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <br>
  <h2>Hostels:</h2> <br>
    <ul>
        <% hostels.forEach(function(hostel) { %>
          <li>
            <a href="/hostels/<%= hostel._id %>"><%= hostel.name %></a>
          </li>
        <% }); %>
      </ul>  
    </main>  
    
</body>
