<body>

    <div class="container">

<h1>
    Login
</h1>

<% 
    if(typeof message !== 'undefined'){
    %>

    <h4> <%= message %> </h4>

    <%

    }

 %>





<form action="/login" method="post" >

    <input class="form-control" type="email" name="email" required placeholder="Enter Email">
    <br>
    <input class="form-control" type="password" name="password" required placeholder="Enter password">
    <br>
    <input type="submit" class="btn btn btn-light" value="login">
    <br>

</form>

<br>
<p>Don't have an account? Register <a href="/register"> here</a>.</p>

<br>
<p>Admin Login Page <a href="/admin"> here </a>.</p>

<br>
<p>Warden Login Page <a href="/warden"> here </a>.</p>

</div>
   
</body>
