<%- include('navbar.ejs')  %>

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
<body>
    <h3>Welcome to Payment Gateway</h3>
        <form action="payment" method="POST">
            <script
            src="//checkout.stripe.com/v3/checkout.js"
            class="stripe-button"
            data-key="<%= key %>"
            data-amount="7000"
            data-currency="usd"
            data-name="Allocator"
            data-description="Apply for a Room"
            data-locale="auto" >
            </script>
        </form>
</body>
</main>