<body>

    <%- include('navbar.ejs')  %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    
<form action="" method="post">

    <p>Kindly enter your Registration no. to confirm vacation:</p>

    <input class="form-control" type="text" name="regNo" placeholder="Enter Registration No." required>
    <br>

   
    <input type="submit" class="btn btn btn-primary" value="Vacate">

</form>

</main>

</body>